.container {
    background-color: rgb(192, 246, 228);
}

#title, #description {
    display: flex;
    justify-content: center;
}

#title {
    text-decoration-line: underline;
}

div {
    padding: 5px;
}
